PORT= 3000
MONGODB_URI = You can set your MongoDB URI here
FRONTEND_URL = You can set your frontend URL here

JWT_SECRET = You can set your JWT secret here
ACCESS_TOKEN_SECRET= You can set your access token secret here
REFRESH_TOKEN_SECRET= You can set your refresh token secret here, 
ACCESS_TOKEN_EXPIRY= You can set your access token expiry here, 
REFRESH_TOKEN_EXPIRY= You can set your refresh token expiry here,


ADMIN_EMAIL = You can set your admin email here
ADMIN_PASSWORD = You can set your admin password here