PORT= 3000
MONGODB_URI = You can set your MongoDB URI here, for example: mongodb://
FRONTEND_URL = You can set your frontend URL here, for example: http://localhost:5173

JWT_SECRET = You can set your JWT secret here, for example : my_super_secret_key
ACCESS_TOKEN_SECRET= You can set your access token secret here, for example: access_secret_key
REFRESH_TOKEN_SECRET= You can set your refresh token secret here, for example: refresh_secret_key
ACCESS_TOKEN_EXPIRY= You can set your access token expiry here, for example: 15m
REFRESH_TOKEN_EXPIRY= You can set your refresh token expiry here, for example: 7d